*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width:350px) {
  .welcome-container
  {
    position: absolute;
    top: 450px;
  }
  .welcome
  {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
  }
  .welcome-btn
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }
  .create-btn
  {
    background-color: rgb(120, 17, 216);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    border: none;
  }
  .already-btn{
    background-color: rgb(221, 158, 179);
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    border: none;
  }
  .account-heading
  {
    width: 180px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .input-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .input-container input
  {
    background: transparent;
    width: 340px;
    height: 40px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
  }
  .name
  {
    background-color:white;
    color: rgb(126, 43, 203);
    font-size: 13px;
    position: relative;
    right: 126px;
    top: 20px;
    padding: 2px;
  }
  .number
  {
    background-color:white;
    color: rgb(126, 43, 203);
    font-size: 13px;
    position: relative;
    right: 112px;
    top: 20px;
    padding: 2px;
  }
  .email
  {
    background-color:white;
    color: rgb(126, 43, 203);
    font-size: 13px;
    position: relative;
    right: 116px;
    top: 20px;
    padding: 2px;
  }
  .company
  {
    background-color:white;
    color: rgb(126, 43, 203);
    font-size: 13px;
    position: relative;
    right: 107px;
    top: 20px;
    padding: 2px;
  }
  .star
  {
    color: red;
  }
  .radio-btn-container
  {
    margin-left: 15px;
    margin-top: 10px;
    line-height: 27px;
  }
  .yes-container
  {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .radio-btn-1
  {
    width: 18px;
    height: 18px;
  }
  .radio-btn-2
  {
    width: 18px;
    height: 18px;
  }
  .radio-btn-1:checked
  {
       accent-color:rgb(126, 43, 203);
       
  }
  .radio-btn-2:checked
  {
       accent-color:rgb(126, 43, 203);
  }
  .both-radio-btn
  {
    display: flex;
  }
  .last-btn
  {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
  .signin-heading
  {
    position: relative;
    left: 15px;
  }
  .signin-text
  {
    width: 180px;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .login
  {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .login-btn
  {
    background-color: rgb(209, 202, 145);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    border: none;
  }
  .para
  {
    color: dimgrey;
  }
  .profile-container
  {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .profile-photo
  {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10px;
  }
  .profile-heading
  {
    display: flex;
    flex-direction: column;
  }
  .profile-para
  {
    margin-left: 15px;
    margin-top: 20px;
    /* width: 100px; */
  }
  .dash-border
  {
    border-bottom: 1px dashed grey;
    margin-top: 20px;
  }
  .background
  {
    background-color: rgb(239, 237, 237);
    height: 100vh;
  }
  .camera
  {
    background-color: blueviolet;
    color: white;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    left: 82px;
    top: 57px;
  }
}